<ion-view view-title="Users">
  <ion-content>
    <ion-list>
      <div class="button-bar" >
        <a class="button" selected ng-click="sexFilter('Male')">Male</a>
        <a class="button" ng-click="sexFilter('Female')">Female</a>
        <a class="button" ng-click="sexFilter('Other')">Other</a>
        <a class="button" ng-click="resetSexFilter()"> <i class="icon ion-close-circled"></i></a>
      </div>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in filteredUsers" ng-click="edit(user)" type="item-text-wrap" href="#/tab/contacts/{{contact.id}}">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <p>{{user.sex}} || {{user.birthdate | dateConvert}}</span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(user)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <button class="button button-full button-stable" ng-click="add()">Add</button>
  </ion-content>
  <ion-footer-bar style="padding-bottom: 3rem;">
    <h1></h1>
    <div class="row" >
      <div class="col">Lowest: {{calculatedAges.lowest}}</div>
      <div class="col">Highest: {{calculatedAges.highest}}</div>
      <div class="col">Average: {{calculatedAges.average}}</div>
    </div>
  </ion-footer-bar>
</ion-view>
