<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Add Data Tab -->
  <ion-tab title="Add" icon-off="ion-android-add" icon-on="ion-android-add-circle" href="#/tab/add">
    <ion-nav-view name="tab-add"></ion-nav-view>
  </ion-tab>

  <!-- View Data Tab -->
  <ion-tab title="View" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/view">
    <ion-nav-view name="tab-view"></ion-nav-view>
  </ion-tab>
</ion-tabs>
