<ion-modal-view>
  <ion-content class="padding">
    <div class='row'>
        <div class='col'>
            <span class='editor-label'>First NameEDIT!</span>
            <label class="item item-input">
                <input type='text' ng-model="editUser.firstName"></input>
            </label>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <span class='editor-label'>Last Name</span>
            <label class="item item-input">
                <input type='text' ng-model="editUser.lastName"></input>
            </label>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <span class='editor-label'>Title</span>
            <ion-radio-group>
              <ion-radio ng-model="editUser.sex" ng-value="'Male'">Male</ion-radio>
              <ion-radio ng-model="editUser.sex" ng-value="'Female'">Female</ion-radio>
              <ion-radio ng-model="editUser.sex" ng-value="'Other'">Other</ion-radio>
            </ion-radio-group>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
          <!-- {{user.birthdate | birthDateConvert}} -->
            <span class='editor-label'>Birthdate</span>
            <label class="item item-input">
                <input type="date" max="{{maxDate}}" ng-value="editUser.birthdate" ng-model="temp" ng-change="editUser.birthdate=temp.toISOString()"></input>
              </label>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center">
            <button class="button button-full button-stable" ng-click="saveEdit()">Save Edit</button>
        </div>
        <div class="col" style="text-align: center">
          <button class="button button-outline button-stable" ng-click="editCancel()">Cancel</button>
        </div>
    </div>
  </ion-content>
</ion-modal-view>
